html {
  font-size: 16px;
  font-family: 'Alegreya', serif;
}

body{
  background-color: red;
}

li{
  display: inline;
  padding: 1.4rem;
}

ul{
  padding: .5rem 0rem;
}

.navbar-link:hover{
  color: red;
  background: white;
}

.class-schedule{
  font-size: 2rem;
}
.logo{
  height: auto;
  max-width: 30%;
}
.navbar{
  background-color: green;
  height: 20%;
}
#googleMap {

}
