/*body{
  position: relative;
}
.logo{
  position:absolute;
}

.navbar{
  position: relative;

}

.navbar-menu{
  position: absolute;
  top: 0rem;
}

ul{
  height: auto;
  top: 0rem;
}

li{
  display: inline;
  top: 0rem;
}*/

.navbar{
  position: relative;
}

.navbar-menu{

}

.logo{
  position: relative;
  top: -5rem;
}
