body{
  position: relative;
}

.navbar{
  position: relative;
  display: block;
  overflow: hidden;
  top: -50px;
  right: -50px;
}

.navbar-menu{
  position: absolute;
  top: -100rem;
}

ul{
  height: auto;
  top: -100rem;
}

li{
  display: inline;
  top:-100rem;
}
